canvas
{
   margin: 10px;
   padding: 5px;
   border:1px solid black;
   border-radius: 12px;
}

.header 
{
   margin: 10px;
   padding: 5;
   background-color: lightpink;
   height: auto;
   width: fit-content;
} 

#mycontainer
{
   margin:auto;
   border: 10px solid;
   padding: 75px;

}

select
{
   min-width: 300px;
}

#bt1,#bt2
{
   margin:10px;
}
h1
{
   font-family: 'Courier New', Courier, monospace;
}
